[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
networkx = "*"
ipykernel = "*"
pandas = "*"
sklearn = "*"
matplotlib = "*"
black = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
